<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <title>To Do list</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="box" id="heading"><h1><%=ListTitle %></h1></div>
  
    <div class="box">
       <% newListItems.forEach(function(item){%>
        <form action="/delete" method="post">
            <div class="item">
                <input type="checkbox" name="checkonAList" value="<%= item._id%>" onChange="this.form.submit()" >
                <p><%= item.name%></p>
                </div>
<!-- Here input type is hidden and required to enhance dynamic deletion -->

      <input type="hidden" name="listName" value="<%= ListTitle %>"></input>
    </form>
    <%})%>


   <form action="/" method="post" class="item">
     <input type="text" name="newItem"  placeholder="New Item" autocomplete="off">
     <button type="submit" name="list" value="<%=ListTitle%>" ><h3>Add</h3></button>
   </form>
</div>
  </body>
  <footer >
      <p></p>
      <b > <span>&#169;</span> 2022 Alka Singh</b>
      <br>
      <b>All Rights Reserved</b>

      
  </footer>
</html>
